.violet {
  --bg: #1a0929;
  --fg: #c6d0f5;
  --sidebar-bg: #211235;
  --sidebar-fg: #c6d0f5;
  --sidebar-non-existant: #737994;
  --sidebar-active: #bb8ffe;
  --sidebar-spacer: #737994;
  --scrollbar: #bb8ffe;
  --icons: #bb8ffe;
  --icons-hover: #724ea8;
  --links: #bb8ffe;
  --inline-code-color: #c6d0f5;
  --theme-popup-bg: #211235;
  --theme-popup-border: #1a0929;
  --theme-hover: #372351;
  --quote-bg: #2e1949;
  --quote-border: #211235;
  --table-border-color: #211235;
  --table-header-bg: #372455;
  --table-alternate-bg: #211235;
  --searchbar-border-color: #232634;
  --searchbar-bg: #292c3c;
  --searchbar-fg: #c6d0f5;
  --searchbar-shadow-color: #232634;
  --searchresults-header-fg: #c6d0f5;
  --searchresults-border-color: #232634;
  --searchresults-li-bg: #303446;
  --search-mark-bg: #ef9f76;
}